db:
  user: kemal
  password: kemal
  host: invidious-db
  port: 5432
  dbname: invidious

check_tables: true
# Desativa funções pesadas para poupar CPU do notebook antigo
statistics_enabled: false
popular_enabled: false
